.tab__box {
  border: none;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 0;

  li {
    border: none;
    background-color: darkgrey;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }
}
