.article__rank {
  font-size: 15px;
}

.article__rank p {
  margin-top: 0px;
}

.article__main {
  font-size: 1.1rem;
  margin-top: 1rem;
}

.article__main p {
  margin-bottom: 0;
  padding-bottom: 0;
}

.article__main a {
  color: gray;
}

.article__container {
  padding-top: 10px;
}
