.main {
  flex: 6;
}

.about__main {
  max-width: 60%;
  margin: 2rem auto 4rem;
  padding: 2% 10% 2% 10%;
  border-radius: 10px;
  background-color: aliceblue;
}

.about__main__text {
  text-align: justify;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}
