.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.inner {
  align-items: center;
  display: felx;
  justify-content: space-between;
  margin-inline: auto;
  max-width: 500px;
  padding: 10px 0;
}

.menu {
  display: flex;
  list-style: none;

  li {
    margin-right: 20px;
    background-color: #6474fc;
    border-radius: 4px;
  }

  a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    width: 9rem;
    font-size: 0.8rem;
    text-align: center;
  }
}

.site__description {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.05rem;
  margin: 0;
  text-align: center;
  padding: 1rem;
  width: 100%;
  background-color: #6474fc;

  span {
    color: white;
  }
}

.site__title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.copyright_container {
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
}

@media screen and (max-width: 667px) {
  .container {
    min-width: 667px;
  }
}

.container {
  background-image: url('/images/magic-pattern.jpg');
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}
