.container {
  // max-width: 36rem;
  // padding: 0 1rem;
  // margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1cb4d3;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.inner {
  align-items: center;
  display: felx;
  justify-content: space-between;
  margin-inline: auto;
  max-width: 500px;
  padding: 10px 0;
}

.menu {
  display: flex;
  list-style: none;

  li {
    margin-right: 20px;
    background-color: lightblue;
    border-radius: 4px;
  }

  a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    width: 9rem;
    font-size: 0.8rem;
    text-align: center;
  }
}

.backToHome {
  margin: 3rem 0 0;
}

.site__description {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  text-align: center;
  padding: 1rem;
  width: 100%;
  background-color: lightblue;

  span {
    color: white;
  }
}

.site__title {
  font-size: 2.3rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.copyright_container {
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
}
