.flexbox1 {
  display: -webkit-box;
  /* old Android */
  display: -webkit-flex;
  /* Safari etc. */
  display: -ms-flexbox;
  /* IE10        */
  display: flex;

  background: #d4ddf8;
  width: 130px;
  height: 100px;
  margin: 10px;
  padding: 3px;
}

/* ----- 折り返さない ----- */
#id1 {
  -webkit-flex-wrap: nowrap;
  /* Safari etc. */
  -ms-flex-wrap: nowrap;
  /* IE10        */
  flex-wrap: nowrap;
}

/* ----- 折り返す（左から右） ----- */
#id2 {
  -webkit-flex-wrap: wrap;
  /* Safari etc. */
  -ms-flex-wrap: wrap;
  /* IE10        */
  flex-wrap: wrap;
}

/* ----- 折り返す（右から左） ----- */
#id3 {
  -webkit-flex-wrap: wrap-reverse;
  /* Safari etc. */
  -ms-flex-wrap: wrap-reverse;
  /* IE10        */
  flex-wrap: wrap-reverse;
}

/* ----- flexアイテム ----- */
.flexbox1>div {
  margin: 3px;
  min-width: 30px;
  height: 20px;
  color: #fff;
  text-align: center;
  line-height: 1em;
}

.contentArea {
  display: inline-block;
  width: 210px;
  text-align: center;
  border: 1px solid #999;
  margin: 3px;
  vertical-align: top;
}

.ca {
  background: #2d59dc;
}

.cb {
  background: #436ae0;
}

.cc {
  background: #597be3;
}

.cd {
  background: #6f8de7;
}

.ce {
  background: #849eeb;
}
